<div class="center-table">
<div *ngIf="isTutor" class="tutor-label">Sei un Professore!</div>
<table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Titolo </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>
  
  <ng-container matColumnDef="subscribe">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"  (click)="signUp(element.id, element.title)">Iscriviti</button>
  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<a mat-button class="private-area" (click)="navigateToTutorPage()" target="_blank">Entra in area riservata docenti</a>
<app-subscribe *ngIf="showForm"  [trainId]="trainId" [trainTitle]="trainTitle"></app-subscribe>
</div>