.subscribe-container{
    text-align: center;
}

.form-title{
    font-size: larger;
    color: white;
}

.form-container{
    width: 400px; 
    margin: 0px auto;
    margin-top: 50px;
}

.form-field{
    display: block;
}

.form-input{
    font-size: medium;
    color: white;
}

.success-operation{
    font-size: larger;
    color: white;
    margin: 0px auto;
    margin-top: 200px;
    display: block;
}